	<path id="p1" class="polypath polyset-top1" filter="url(#f1)" d="M276,147 L271,145 L261,145 L256,147 L263,169 Z" />
	<path id="p2" class="polypath polyset-top1" filter="url(#f1)" d="M256,147 L249,148 L237,158 L263,169 Z"/>
	<path id="p3" class="polypath polyset-top1" filter="url(#f1)" d="M237,158 L218,158 L214,160 L246,199 Z"/>
	<path id="p4" class="polypath polyset-top1" filter="url(#f1)" d="M237,158 L246,199 L263,169 Z"/>
	<path id="p5" class="polypath polyset-top1" filter="url(#f1)" d="M214,160 L209,162 L192,185 L246,199 Z"/>
	<path id="p6" class="polypath polyset-top1" filter="url(#f1)" d="M192,185 L210,211 L246,199 Z"/>
	<path id="p7" class="polypath polyset-top1" filter="url(#f1)" d="M192,185 L175,199 L173,204 L210,211 Z"/>
	<path id="p8" class="polypath polyset-top1" filter="url(#f1)" d="M263,169 L246,199 L262,207 Z"/>
	<path id="p9" class="polypath polyset-top1" filter="url(#f1)" d="M263,169 L262,207 L290,185 L289,182 Z"/>
	<path id="p10" class="polypath polyset-top1" filter="url(#f1)" d="M263,169 L276,147 L281,152 L286,168 L289,182 Z"/>
	<!-- top polygons level 2-->
	<path id="p11" class="polypath polyset-top2" filter="url(#f1)" d="M173,204 L171,210 L173,225 L210,211 Z"/>
	<path id="p12" class="polypath polyset-top2" filter="url(#f1)" d="M173,225 L209,252 L210,211 Z"/>
	<path id="p13" class="polypath polyset-top2" filter="url(#f1)" d="M210,211 L209,252 L241,243 Z"/>
	<path id="p14" class="polypath polyset-top2" filter="url(#f1)" d="M210,211 L241,243 L246,200 L246,199 Z"/>
	<path id="p15" class="polypath polyset-top2" filter="url(#f1)" d="M246,199 L241,243 L242,242 L263,207 L262,207 Z"/>
	<path id="p16" class="polypath polyset-top2" filter="url(#f1)" d="M263,207 L266,243 L242,242 Z"/>
	<path id="p17" class="polypath polyset-top2" filter="url(#f1)" d="M266,243 L291,235 L263,207 Z"/>
	<path id="p18" class="polypath polyset-top2" filter="url(#f1)" d="M291,235 L292,232 L291,191 L290,185 L263,207 Z"/>
	<!-- top polygons level 3-->
	<path id="p19" class="polypath polyset-top3" filter="url(#f1)" d="M173,225 L158,231 L151,237 L146,243 L145,246 L178,279 Z"/>
	<path id="p20" class="polypath polyset-top3" filter="url(#f1)" d="M178,279 L180,278 L209,252 L173,225 Z"/>
	<path id="p21" class="polypath polyset-top3" filter="url(#f1)" d="M180,278 L232,276 L209,252 Z"/>
	<path id="p22" class="polypath polyset-top3" filter="url(#f1)" d="M232,276 L241,242 L209,252 Z"/>
	<path id="p23" class="polypath polyset-top3" filter="url(#f1)" d="M232,276 L233,276 L266,242 L241,242 Z"/>
	<path id="p24" class="polypath polyset-top3" filter="url(#f1)" d="M233,276 L265,276 L266,242 Z"/>
	<path id="p25" class="polypath polyset-top3" filter="url(#f1)" d="M265,276 L266,242 L291,254 Z"/>
	<path id="p26" class="polypath polyset-top3" filter="url(#f1)" d="M266,242 L291,254 L292,252 L291,236 Z"/>
	<path id="p27" class="polypath polyset-top3" filter="url(#f1)" d="M145,246 L142,252 L141,269 L140,289 L178,279 Z"/>
	<path id="p28" class="polypath polyset-top3" filter="url(#f1)" d="M178,279 L180,283 L194,324 L140,289 Z"/>
	<path id="p29" class="polypath polyset-top3" filter="url(#f1)" d="M194,324 L233,276 L178,279 Z"/>
	<path id="p30" class="polypath polyset-top3" filter="url(#f1)" d="M194,324 L200,324 L256,320 L233,276 Z"/>
	<path id="p31" class="polypath polyset-top3" filter="url(#f1)" d="M256,320 L233,276 L265,276 Z"/>
	<path id="p32" class="polypath polyset-top3" filter="url(#f1)" d="M256,320 L291,298 L265,276 Z"/>
	<path id="p33" class="polypath polyset-top3" filter="url(#f1)" d="M291,298 L291,254 L265,276 Z"/>
	<!-- top polygons level 4-->
	<path id="p34" class="polypath polyset-top4" filter="url(#f1)" d="M140,289 L128,311 L127,316 L126,320 L194,324 Z"/>
	<path id="p35" class="polypath polyset-top4" filter="url(#f1)" d="M126,320 L129,323 L158,346 L194,324 Z"/>
	<path id="p36" class="polypath polyset-top4" filter="url(#f1)" d="M194,324 L158,346 L212,361 Z"/>
	<path id="p37" class="polypath polyset-top4" filter="url(#f1)" d="M194,324 L212,361 L256,320 Z"/>
	<path id="p38" class="polypath polyset-top4" filter="url(#f1)" d="M212,361 L256,320 L254,370 Z"/>
	<path id="p39" class="polypath polyset-top4" filter="url(#f1)" d="M256,320 L254,370 L291,340 Z"/>
	<path id="p40" class="polypath polyset-top4" filter="url(#f1)" d="M256,320 L291,340 L292,339 L291,298 Z"/>
	<!-- top polygons level 5-->
	<path id="p41" class="polypath polyset-top5" filter="url(#f1)" d="M126,320 L125,325 L127,342 L128,345 L158,346 Z"/>
	<path id="p42" class="polypath polyset-top5" filter="url(#f1)" d="M128,345 L125,352 L117,371 L116,377 L158,346 Z"/>
	<path id="p43" class="polypath polyset-top5" filter="url(#f1)" d="M116,377 L118,379 L184,381 L161,347 L158,346 Z"/>
	<path id="p44" class="polypath polyset-top5" filter="url(#f1)" d="M184,381 L161,347 L158,346 L212,361 Z"/>
	<path id="p45" class="polypath polyset-top5a" filter="url(#f1)" d="M184,381 L212,361 L212,365 L212,410 Z"/>
	<path id="p46" class="polypath polyset-top5a" filter="url(#f1)" d="M212,361 L212,365 L212,410 L214,410 L254,370 Z"/>
	<path id="p47" class="polypath polyset-top5a" filter="url(#f1)" d="M214,410 L217,412 L291,411 L254,370 Z"/>
	<path id="p48" class="polypath polyset-top5b" filter="url(#f1)" d="M254,370 L291,411 L291,340 Z"/>
	<path id="p49" class="polypath polyset-top5b" filter="url(#f1)" d="M116,377 L116,385 L131,421 L184,381 L118,379 Z"/>
	<path id="p50" class="polypath polyset-top5a" filter="url(#f1)" d="M131,421 L184,381 L184,385 L178,420 Z"/>
	<path id="p51" class="polypath polyset-top5a" filter="url(#f1)" d="M178,420 L183,419 L209,412 L212,410 L184,381 Z"/>
	<!-- top polygons level 6-->
	<path id="p52" class="polypath polyset-top6" filter="url(#f1)" d="M131,421 L128,425 L113,446 L112,451 L115,454 L136,467 Z"/>
	<path id="p53" class="polypath polyset-top6" filter="url(#f1)" d="M136,467 L131,421 L136,424 L191,458 Z"/>
	<path id="p54" class="polypath polyset-top6a" filter="url(#f1)" d="M131,421 L136,424 L191,458 L178,420 Z"/>
	<path id="p55" class="polypath polyset-top6a" filter="url(#f1)" d="M191,458 L178,420 L212,411 Z"/>
	<path id="p56" class="polypath polyset-top6a" filter="url(#f1)" d="M212,411 L217,414 L258,448 L196,457 L191,458 Z"/>
	<path id="p57" class="polypath polyset-top6" filter="url(#f1)" d="M191,458 L197,460 L246,474 L259,448 L198,457 Z"/>
	<path id="p58" class="polypath polyset-top6" filter="url(#f1)" d="M246,474 L259,448 L291,461 Z"/>
	<path id="p59" class="polypath polyset-top6a" filter="url(#f1)" d="M291,461 L291,412 L259,448 Z"/>
	<path id="p60" class="polypath polyset-top6a" filter="url(#f1)" d="M291,412 L259,448 L255,445 L212,411 Z"/>
	<!-- top polygons level 7-->
	<path id="p61" class="polypath polyset-top7b" filter="url(#f1)" d="M291,461 L292,520 L250,478 L247,475 Z"/>
	<path id="p62" class="polypath polyset-top7b" filter="url(#f1)" d="M292,520 L287,520 L234,508 L245,479 L246,474 Z"/>
	<path id="p64" class="polypath polyset-top7b" filter="url(#f1)" d="M234,508 L245,479 L246,474 L191,458 Z"/>
	<path id="p65" class="polypath polyset-top7b" filter="url(#f1)" d="M234,508 L191,458 L177,500 Z"/>
	<path id="p66" class="polypath polyset-top7b" filter="url(#f1)" d="M191,458 L177,500 L140,471 L136,467 Z"/>
	<path id="p67" class="polypath polyset-top7b" filter="url(#f1)" d="M177,500 L140,471 L136,467 L126,491 L131,493 Z"/>
	<path id="p68" class="polypath polyset-top6" filter="url(#f1)" d="M136,467 L126,491 L125,487 L119,473 L112,455 L114,452 Z"/>
	<path id="p69" class="polypath polyset-top7b" filter="url(#f1)" d="M126,491 L130,498 L146,523 L152,532 L155,535 L177,500 L131,493 Z"/>
	<path id="p70" class="polypath polyset-top7c" filter="url(#f1)" d="M155,535 L177,500 L181,506 L209,568 L205,568 L179,551 Z"/>
	<path id="p71" class="polypath polyset-top7c" filter="url(#f1)" d="M209,568 L212,570 L237,540 L177,500 Z"/>
	<path id="p72" class="polypath polyset-top7c" filter="url(#f1)" d="M237,540 L177,500 L234,508 Z"/>
	<path id="p73" class="polypath polyset-top7c" filter="url(#f1)" d="M234,508 L237,540 L292,520 Z"/>
	<path id="p74" class="polypath polyset-top7d" filter="url(#f1)" d="M237,540 L292,520 L292,552 L289,556 Z"/>
	<path id="p75" class="polypath polyset-top7d" filter="url(#f1)" d="M289,556 L237,540 L256,585 L261,586 L275,573 L288,560 Z"/>
	<path id="p76" class="polypath polyset-top7d" filter="url(#f1)" d="M237,540 L256,585 L251,587 L214,572 L212,570 Z"/>
