<path id="p1" class="polypath polyset-top1" filter="url(#f1)" d="M276,147 L271,145 L261,145 L256,147 L263,169 Z" />
<path id="p2" class="polypath polyset-top1" filter="url(#f1)" d="M256,147 L249,148 L237,158 L263,169 Z"/>
<path id="p3" class="polypath polyset-top1" filter="url(#f1)" d="M237,158 L218,158 L214,160 L246,199 Z"/>
<path id="p4" class="polypath polyset-top1" filter="url(#f1)" d="M237,158 L246,199 L263,169 Z"/>
<path id="p5" class="polypath polyset-top1" filter="url(#f1)" d="M214,160 L209,162 L192,185 L246,199 Z"/>
<path id="p6" class="polypath polyset-top1" filter="url(#f1)" d="M192,185 L210,211 L246,199 Z"/>
<path id="p7" class="polypath polyset-top1" filter="url(#f1)" d="M192,185 L175,199 L173,204 L210,211 Z"/>
<path id="p8" class="polypath polyset-top1" filter="url(#f1)" d="M263,169 L246,199 L262,207 Z"/>
<path id="p9" class="polypath polyset-top1" filter="url(#f1)" d="M263,169 L262,207 L290,185 L289,182 Z"/>
<path id="p10" class="polypath polyset-top1" filter="url(#f1)" d="M263,169 L276,147 L281,152 L286,168 L289,182 Z"/>
<path id="p11" class="polypath polyset-top2" filter="url(#f1)" d="M173,204 L171,210 L173,225 L210,211 Z"/>
<path id="p12" class="polypath polyset-top2" filter="url(#f1)" d="M173,225 L209,252 L210,211 Z"/>
<path id="p13" class="polypath polyset-top2" filter="url(#f1)" d="M210,211 L209,252 L241,243 Z"/>
<path id="p14" class="polypath polyset-top2" filter="url(#f1)" d="M210,211 L241,243 L246,200 L246,199 Z"/>
<path id="p15" class="polypath polyset-top2" filter="url(#f1)" d="M246,199 L241,243 L242,242 L263,207 L262,207 Z"/>
<path id="p16" class="polypath polyset-top2" filter="url(#f1)" d="M263,207 L266,243 L242,242 Z"/>
<path id="p17" class="polypath polyset-top2" filter="url(#f1)" d="M266,243 L291,235 L263,207 Z"/>
<path id="p18" class="polypath polyset-top2" filter="url(#f1)" d="M291,235 L292,232 L291,191 L290,185 L263,207 Z"/>
<path id="p19" class="polypath polyset-top3" filter="url(#f1)" d="M173,225 L158,231 L151,237 L146,243 L145,246 L178,279 Z"/>
<path id="p20" class="polypath polyset-top3" filter="url(#f1)" d="M178,279 L180,278 L209,252 L173,225 Z"/>
<path id="p21" class="polypath polyset-top3" filter="url(#f1)" d="M180,278 L232,276 L209,252 Z"/>
<path id="p22" class="polypath polyset-top3" filter="url(#f1)" d="M232,276 L241,242 L209,252 Z"/>
<path id="p23" class="polypath polyset-top3" filter="url(#f1)" d="M232,276 L233,276 L266,242 L241,242 Z"/>
<path id="p24" class="polypath polyset-top3" filter="url(#f1)" d="M233,276 L265,276 L266,242 Z"/>
<path id="p25" class="polypath polyset-top3" filter="url(#f1)" d="M265,276 L266,242 L291,254 Z"/>
<path id="p26" class="polypath polyset-top3" filter="url(#f1)" d="M266,242 L291,254 L292,252 L291,236 Z"/>
<path id="p27" class="polypath polyset-top3" filter="url(#f1)" d="M145,246 L142,252 L141,269 L140,289 L178,279 Z"/>
<path id="p28" class="polypath polyset-top3" filter="url(#f1)" d="M178,279 L180,283 L194,324 L140,289 Z"/>
<path id="p29" class="polypath polyset-top3" filter="url(#f1)" d="M194,324 L233,276 L178,279 Z"/>
<path id="p30" class="polypath polyset-top3" filter="url(#f1)" d="M194,324 L200,324 L256,320 L233,276 Z"/>
<path id="p31" class="polypath polyset-top3" filter="url(#f1)" d="M256,320 L233,276 L265,276 Z"/>
<path id="p32" class="polypath polyset-top3" filter="url(#f1)" d="M256,320 L291,298 L265,276 Z"/>
<path id="p33" class="polypath polyset-top3" filter="url(#f1)" d="M291,298 L291,254 L265,276 Z"/>
<path id="p34" class="polypath polyset-top4" filter="url(#f1)" d="M140,289 L128,311 L127,316 L126,320 L194,324 Z"/>
<path id="p35" class="polypath polyset-top4" filter="url(#f1)" d="M126,320 L129,323 L158,346 L194,324 Z"/>
<path id="p36" class="polypath polyset-top4" filter="url(#f1)" d="M194,324 L158,346 L212,361 Z"/>
<path id="p37" class="polypath polyset-top4" filter="url(#f1)" d="M194,324 L212,361 L256,320 Z"/>
<path id="p38" class="polypath polyset-top4" filter="url(#f1)" d="M212,361 L256,320 L254,370 Z"/>
<path id="p39" class="polypath polyset-top4" filter="url(#f1)" d="M256,320 L254,370 L291,340 Z"/>
<path id="p40" class="polypath polyset-top4" filter="url(#f1)" d="M256,320 L291,340 L292,339 L291,298 Z"/>
<path id="p41" class="polypath polyset-top5" filter="url(#f1)" d="M126,320 L125,325 L127,342 L128,345 L158,346 Z"/>
<path id="p42" class="polypath polyset-top5" filter="url(#f1)" d="M128,345 L125,352 L117,371 L116,377 L158,346 Z"/>
<path id="p43" class="polypath polyset-top5" filter="url(#f1)" d="M116,377 L118,379 L184,381 L161,347 L158,346 Z"/>
<path id="p44" class="polypath polyset-top5" filter="url(#f1)" d="M184,381 L161,347 L158,346 L212,361 Z"/>
<path id="p45" class="polypath polyset-top5a" filter="url(#f1)" d="M184,381 L212,361 L212,365 L212,410 Z"/>
<path id="p46" class="polypath polyset-top5a" filter="url(#f1)" d="M212,361 L212,365 L212,410 L214,410 L254,370 Z"/>
<path id="p47" class="polypath polyset-top5a" filter="url(#f1)" d="M214,410 L217,412 L291,411 L254,370 Z"/>
<path id="p48" class="polypath polyset-top5b" filter="url(#f1)" d="M254,370 L291,411 L291,340 Z"/>
<path id="p49" class="polypath polyset-top5b" filter="url(#f1)" d="M116,377 L116,385 L131,421 L184,381 L118,379 Z"/>
<path id="p50" class="polypath polyset-top5a" filter="url(#f1)" d="M131,421 L184,381 L184,385 L178,420 Z"/>
<path id="p51" class="polypath polyset-top5a" filter="url(#f1)" d="M178,420 L183,419 L209,412 L212,410 L184,381 Z"/>
<path id="p52" class="polypath polyset-top6" filter="url(#f1)" d="M131,421 L128,425 L113,446 L112,451 L115,454 L136,467 Z"/>
<path id="p53" class="polypath polyset-top6" filter="url(#f1)" d="M136,467 L131,421 L136,424 L191,458 Z"/>
<path id="p54" class="polypath polyset-top6a" filter="url(#f1)" d="M131,421 L136,424 L191,458 L178,420 Z"/>
<path id="p55" class="polypath polyset-top6a" filter="url(#f1)" d="M191,458 L178,420 L212,411 Z"/>
<path id="p56" class="polypath polyset-top6a" filter="url(#f1)" d="M212,411 L217,414 L258,448 L196,457 L191,458 Z"/>
<path id="p57" class="polypath polyset-top6" filter="url(#f1)" d="M191,458 L197,460 L246,474 L259,448 L198,457 Z"/>
<path id="p58" class="polypath polyset-top6" filter="url(#f1)" d="M246,474 L259,448 L291,461 Z"/>
<path id="p59" class="polypath polyset-top6a" filter="url(#f1)" d="M291,461 L291,412 L259,448 Z"/>
<path id="p60" class="polypath polyset-top6a" filter="url(#f1)" d="M291,412 L259,448 L255,445 L212,411 Z"/>
<path id="p61" class="polypath polyset-top7b" filter="url(#f1)" d="M291,461 L292,520 L250,478 L247,475 Z"/>
<path id="p62" class="polypath polyset-top7b" filter="url(#f1)" d="M292,520 L287,520 L234,508 L245,479 L246,474 Z"/>
<path id="p64" class="polypath polyset-top7b" filter="url(#f1)" d="M234,508 L245,479 L246,474 L191,458 Z"/>
<path id="p65" class="polypath polyset-top7b" filter="url(#f1)" d="M234,508 L191,458 L177,500 Z"/>
<path id="p66" class="polypath polyset-top7b" filter="url(#f1)" d="M191,458 L177,500 L140,471 L136,467 Z"/>
<path id="p67" class="polypath polyset-top7b" filter="url(#f1)" d="M177,500 L140,471 L136,467 L126,491 L131,493 Z"/>
<path id="p68" class="polypath polyset-top6" filter="url(#f1)" d="M136,467 L126,491 L125,487 L119,473 L112,455 L114,452 Z"/>
<path id="p69" class="polypath polyset-top7b" filter="url(#f1)" d="M126,491 L130,498 L146,523 L152,532 L155,535 L177,500 L131,493 Z"/>
<path id="p70" class="polypath polyset-top7c" filter="url(#f1)" d="M155,535 L177,500 L181,506 L209,568 L205,568 L179,551 Z"/>
<path id="p71" class="polypath polyset-top7c" filter="url(#f1)" d="M209,568 L212,570 L237,540 L177,500 Z"/>
<path id="p72" class="polypath polyset-top7c" filter="url(#f1)" d="M237,540 L177,500 L234,508 Z"/>
<path id="p73" class="polypath polyset-top7c" filter="url(#f1)" d="M234,508 L237,540 L292,520 Z"/>
<path id="p74" class="polypath polyset-top7d" filter="url(#f1)" d="M237,540 L292,520 L292,552 L289,556 Z"/>
<path id="p75" class="polypath polyset-top7d" filter="url(#f1)" d="M289,556 L237,540 L256,585 L261,586 L275,573 L288,560 Z"/>
<path id="p76" class="polypath polyset-top7d" filter="url(#f1)" d="M237,540 L256,585 L251,587 L214,572 L212,570 Z"/>

<path id="p77" class="polypath polyset-top7d" filter="url(#f1)" d="M361,540 L342,585 L347,587 L384,572 L386,570 Z"/>
<path id="p78" class="polypath polyset-top7d" filter="url(#f1)" d="M309,556 L361,540 L342,585 L337,586 L323,573 L310,560 Z"/>
<path id="p79" class="polypath polyset-top7d" filter="url(#f1)" d="M361,540 L306,520 L306,552 L309,556 Z"/>
<path id="p80" class="polypath polyset-top7c" filter="url(#f1)" d="M364,508 L361,540 L306,520 Z"/>
<path id="p81" class="polypath polyset-top7c" filter="url(#f1)" d="M361,540 L421,500 L364,508 Z"/>
<path id="p82" class="polypath polyset-top7c" filter="url(#f1)" d="M389,568 L386,570 L361,540 L421,500 Z"/>
<path id="p83" class="polypath polyset-top7c" filter="url(#f1)" d="M443,535 L421,500 L417,506 L389,568 L393,568 L419,551 Z"/>
<path id="p84" class="polypath polyset-top7b" filter="url(#f1)" d="M472,491 L468,498 L452,523 L446,532 L443,535 L421,500 L467,493 Z"/>
<path id="p85" class="polypath polyset-top6" filter="url(#f1)" d="M462,467 L472,491 L473,487 L479,473 L486,455 L484,452 Z"/>
<path id="p86" class="polypath polyset-top7b" filter="url(#f1)" d="M421,500 L458,471 L462,467 L472,491 L467,493 Z"/>
<path id="p87" class="polypath polyset-top7b" filter="url(#f1)" d="M407,458 L421,500 L458,471 L462,467 Z"/>
<path id="p88" class="polypath polyset-top7b" filter="url(#f1)" d="M364,508 L407,458 L421,500 Z"/>
<path id="p89" class="polypath polyset-top7b" filter="url(#f1)" d="M364,508 L353,479 L352,474 L407,458 Z"/>
<path id="p90" class="polypath polyset-top7b" filter="url(#f1)" d="M306,520 L311,520 L364,508 L353,479 L352,474 Z"/>
<path id="p91" class="polypath polyset-top7b" filter="url(#f1)" d="M307,461 L306,520 L348,478 L351,475 Z"/>
<path id="p92" class="polypath polyset-top6a" filter="url(#f1)" d="M307,412 L339,448 L343,445 L386,411 Z"/>
<path id="p93" class="polypath polyset-top6a" filter="url(#f1)" d="M307,461 L307,412 L339,448 Z"/>
<path id="p94" class="polypath polyset-top6" filter="url(#f1)" d="M352,474 L339,448 L307,461 Z"/>
<path id="p95" class="polypath polyset-top6" filter="url(#f1)" d="M407,458 L401,460 L352,474 L339,448 L400,457 Z"/>
<path id="p96" class="polypath polyset-top6a" filter="url(#f1)" d="M386,411 L381,414 L340,448 L402,457 L407,458 Z"/>
<path id="p97" class="polypath polyset-top6a" filter="url(#f1)" d="M407,458 L420,420 L386,411 Z"/>
<path id="p98" class="polypath polyset-top6a" filter="url(#f1)" d="M467,421 L462,424 L407,458 L420,420 Z"/>
<path id="p99" class="polypath polyset-top6" filter="url(#f1)" d="M462,467 L467,421 L462,424 L407,458 Z"/>
<path id="p100" class="polypath polyset-top6" filter="url(#f1)" d="M467,421 L470,425 L485,446 L486,451 L483,454 L462,467 Z"/>
<path id="p101" class="polypath polyset-top5a" filter="url(#f1)" d="M420,420 L415,419 L389,412 L386,410 L414,381 Z"/>
<path id="p102" class="polypath polyset-top5a" filter="url(#f1)" d="M467,421 L414,381 L414,385 L420,420 Z"/>
<path id="p103" class="polypath polyset-top5b" filter="url(#f1)" d="M482,377 L482,385 L467,421 L414,381 L480,379 Z"/>
<path id="p104" class="polypath polyset-top5b" filter="url(#f1)" d="M344,370 L307,411 L307,340 Z"/>
<path id="p105" class="polypath polyset-top5a" filter="url(#f1)" d="M384,410 L381,412 L307,411 L344,370 Z"/>
<path id="p106" class="polypath polyset-top5a" filter="url(#f1)" d="M386,361 L386,365 L386,410 L384,410 L344,370 Z"/>
<path id="p107" class="polypath polyset-top5a" filter="url(#f1)" d="M414,381 L386,361 L386,365 L386,410 Z"/>
<path id="p108" class="polypath polyset-top5" filter="url(#f1)" d="M414,381 L437,347 L440,346 L386,361 Z"/>
<path id="p109" class="polypath polyset-top5" filter="url(#f1)" d="M482,377 L480,379 L414,381 L437,347 L440,346 Z"/>
<path id="p110" class="polypath polyset-top5" filter="url(#f1)" d="M470,345 L473,352 L481,371 L482,377 L440,346 Z"/>
<path id="p111" class="polypath polyset-top5" filter="url(#f1)" d="M472,320 L473,325 L471,342 L470,345 L440,346 Z"/>
<path id="p112" class="polypath polyset-top4" filter="url(#f1)" d="M342,320 L307,340 L306,339 L307,298 Z"/>
<path id="p113" class="polypath polyset-top4" filter="url(#f1)" d="M342,320 L344,370 L307,340 Z"/>
<path id="p114" class="polypath polyset-top4" filter="url(#f1)" d="M386,361 L342,320 L344,370 Z"/>
<path id="p115" class="polypath polyset-top4" filter="url(#f1)" d="M404,324 L386,361 L342,320 Z"/>
<path id="p116" class="polypath polyset-top4" filter="url(#f1)" d="M404,324 L440,346 L386,361 Z"/>
<path id="p117" class="polypath polyset-top4" filter="url(#f1)" d="M472,320 L469,323 L440,346 L404,324 Z"/>
<path id="p118" class="polypath polyset-top4" filter="url(#f1)" d="M458,289 L470,311 L471,316 L472,320 L404,324 Z"/>
<path id="p119" class="polypath polyset-top3" filter="url(#f1)" d="M307,298 L307,254 L333,276 Z"/>
<path id="p120" class="polypath polyset-top3" filter="url(#f1)" d="M342,320 L307,298 L333,276 Z"/>
<path id="p121" class="polypath polyset-top3" filter="url(#f1)" d="M342,320 L365,276 L333,276 Z"/>
<path id="p122" class="polypath polyset-top3" filter="url(#f1)" d="M404,324 L398,324 L342,320 L365,276 Z"/>
<path id="p123" class="polypath polyset-top3" filter="url(#f1)" d="M404,324 L365,276 L420,279 Z"/>
<path id="p124" class="polypath polyset-top3" filter="url(#f1)" d="M420,279 L418,283 L404,324 L458,289 Z"/>
<path id="p125" class="polypath polyset-top3" filter="url(#f1)" d="M453,246 L456,252 L457,269 L458,289 L420,279 Z"/>
<path id="p126" class="polypath polyset-top3" filter="url(#f1)" d="M332,242 L307,254 L306,252 L307,236 Z"/>
<path id="p127" class="polypath polyset-top3" filter="url(#f1)" d="M333,276 L332,242 L307,254 Z"/>
<path id="p128" class="polypath polyset-top3" filter="url(#f1)" d="M365,276 L333,276 L332,242 Z"/>
<path id="p129" class="polypath polyset-top3" filter="url(#f1)" d="M366,276 L365,276 L332,242 L357,242 Z"/>
<path id="p130" class="polypath polyset-top3" filter="url(#f1)" d="M366,276 L357,242 L389,252 Z"/>
<path id="p131" class="polypath polyset-top3" filter="url(#f1)" d="M418,278 L366,276 L389,252 Z"/>
<path id="p132" class="polypath polyset-top3" filter="url(#f1)" d="M420,279 L418,278 L389,252 L425,225 Z"/>
<path id="p133" class="polypath polyset-top3" filter="url(#f1)" d="M425,225 L440,231 L447,237 L452,243 L453,246 L420,279 Z"/>
<path id="p134" class="polypath polyset-top2" filter="url(#f1)" d="M307,235 L306,232 L307,191 L308,185 L335,207 Z"/>
<path id="p135" class="polypath polyset-top2" filter="url(#f1)" d="M332,243 L307,235 L335,207 Z"/>
<path id="p136" class="polypath polyset-top2" filter="url(#f1)" d="M335,207 L332,243 L356,242 Z"/>
<path id="p137" class="polypath polyset-top2" filter="url(#f1)" d="M352,199 L357,243 L356,242 L335,207 L336,207 Z"/>
<path id="p138" class="polypath polyset-top2" filter="url(#f1)" d="M388,211 L357,243 L352,200 L352,199 Z"/>
<path id="p139" class="polypath polyset-top2" filter="url(#f1)" d="M388,211 L389,252 L357,243 Z"/>
<path id="p140" class="polypath polyset-top2" filter="url(#f1)" d="M425,225 L389,252 L388,211 Z"/>
<path id="p141" class="polypath polyset-top2" filter="url(#f1)" d="M425,204 L427,210 L425,225 L388,211 Z"/>
<path id="p142" class="polypath polyset-top1" filter="url(#f1)" d="M335,169 L322,147 L317,152 L312,168 L309,182 Z"/>
<path id="p143" class="polypath polyset-top1" filter="url(#f1)" d="M335,169 L336,207 L308,185 L309,182 Z"/>
<path id="p144" class="polypath polyset-top1" filter="url(#f1)" d="M335,169 L352,199 L336,207 Z"/>
<path id="p145" class="polypath polyset-top1" filter="url(#f1)" d="M406,185 L423,199 L425,204 L388,211 Z"/>
<path id="p146" class="polypath polyset-top1" filter="url(#f1)" d="M406,185 L388,211 L352,199 Z"/>
<path id="p147" class="polypath polyset-top1" filter="url(#f1)" d="M384,160 L389,162 L406,185 L352,199 Z"/>
<path id="p148" class="polypath polyset-top1" filter="url(#f1)" d="M361,158 L352,199 L335,169 Z"/>
<path id="p149" class="polypath polyset-top1" filter="url(#f1)" d="M361,158 L380,158 L384,160 L352,199 Z"/>
<path id="p150" class="polypath polyset-top1" filter="url(#f1)" d="M342,147 L349,148 L361,158 L335,169 Z"/>
<path id="p151" class="polypath polyset-top1" filter="url(#f1)" d="M322,147 L327,145 L337,145 L342,147 L335,169 Z"/>